button {
  padding: 10px 32px;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  border: none 0;
  outline: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  background-image: linear-gradient(277.88deg, #51b441 32.37%, #61c451 99.3%);
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.app-button-link--primary {
  background-color: hsl(237, 42%, 53%);
  color: white;
}

.app-button-link--secondary {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: #333;
}

.app-button-link--small {
  padding: 10px 16px;
  font-size: 12px;
}

.app-button-link--medium {
  padding: 11px 20px;
  font-size: 14px;
}

.app-button-link--large {
  padding: 12px 24px;
  font-size: 16px;
}