html, body { height: 100%; }
body,p,h1,h2,h3,h4,h5 { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card {
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &.full-width {
        width: calc(100% - 30px);
      }
  &:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  /* Counter Badge */
.counter-badge {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 12px;
  }
  .card-footer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  
  button {
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
  }
  
  button:hover {
    background: lightgray;
  }
  
    .card-header {
      display: flex;
      align-items: center;
      gap: 10px;
  
      .card-logo {
        width: 40px;
        height: 40px;
        border-radius: 8px;
      }
  
      .card-title {
        h3 {
          margin: 0;
          font-size: 16px;
        }
        p {
          margin: 0;
          font-size: 12px;
          color: gray;
        }
      }
    }
  
    .card-description {
      font-size: 14px;
      color: #555;
    }
  
    .card-icon {
      align-self: flex-end;
      width: 24px;
      height: 24px;
    }
    .tabs {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        
        button {
          background: none;
          border: none;
          color: #333;
          font-size:14px;
          padding: 8px;
          cursor: pointer;
          border-bottom: 2px solid transparent;
          border-radius: 0;
      
          &.active {
            border-bottom: 2px solid #666;
          }
        }
      }
      
      .tab-content {
        margin:0;
        font-size:14px;
        line-height: 1.5;
        color: #111;
      }
    
  }
  