<div class="card-list">
    <app-card
      *ngFor="let card of cards; let i = index"
      [imageSrc]="card.imageSrc"
      [title]="card.title"
      [subtitle]="card.subtitle"
      [description]="card.description"
      [backgroundColor]="card.backgroundColor"
      [titleColor]="card.titleColor"
      [hoverColor]="card.hoverColor"
      [fullWidth]="card.fullWidth"
      [isLiked]="card.isLiked"
      [isSaved]="card.isSaved"
      (liked)="card.isLiked = !card.isLiked"
            (saved)="card.isSaved = !card.isSaved"
            (paid)="card.counter = $event"
    ></app-card>
  </div>
  