<div class="annual-exposer-details">
    <h4 class="info-title"><img src="images/exposure-virtual.svg" alt="exposure" />Annual exposure details</h4>
    <div class="annual-wrap">
        <div class="annual-item exposer-item">
            <h4 class="item-title">Annual exposure<img src="images/annual-title-help-icon.svg" alt="help" data-toggle="tooltip" title="The total amount at risk over the specified time period, calculated as the sum of all monthly exposures."></h4>
            <div class="price-sec">
                <span class="sign">$</span>10,000,000
                <!-- Static content used as a placeholder -->
            </div>
        </div>

        <div class="hedge-item annual-item">
            <h4 class="item-title">Our recommended hedge</h4>
            <div class="price-sec">
                <span class="sign">$</span>5,000,000
                <span class="percent-tag">50%</span>
            </div>
        </div>

        <div class="current-hedge-item annual-item">
            <h4 class="item-title">Your current hedge</h4>
            <div class="price-sec">
                <span class="sign">$</span>3,000,000
                <span class="percent-tag">30%</span>
            </div>
        </div>

        <div class="avg-hedge-item annual-item">
            <h4 class="item-title">AVG hedging rate<img src="images/annual-title-help-icon.svg" alt="help" data-toggle="tooltip" title="The average exchange rate of your current hedging transactions"></h4>
            <div class="price-sec">
                1.25
            </div>
        </div>
    </div>
</div>
