<div class="annual-exposer-details">
    <h4 class="info-title"><img src="images/exposure-virtual.svg" alt="exposure" />Annual exposure details</h4>
    <div class="annual-wrap">
        <div class="annual-item exposer-item">
            <h4 class="item-title">Annual exposure<img src="images/annual-title-help-icon.svg" alt="help" [ngbTooltip]="annualExposer" placement="top-left"
                tooltipClass="risk-step3-tooltip--rm"></h4>
            <div class="price-sec">
                <span class="sign">$</span>{{annualExposure}}
                <!-- Static content used as a placeholder -->
            </div>
        </div>
        <ng-template #annualExposer>
            The total amount at risk over the specified time period, calculated as the sum of all
            monthly exposures
        </ng-template>
        <ng-template #avgHedge>
            The average exchange rate of your current hedging transactions
        </ng-template>

        <div class="hedge-item annual-item">
            <h4 class="item-title">Our recommended hedge</h4>
            <div class="price-sec">
                <span class="sign">$</span>{{recommendedHedge}}
                <span class="percent-tag">{{recommendedHedgePercent}}%</span>
            </div>
        </div>

        <div class="current-hedge-item annual-item">
            <h4 class="item-title">Your current hedge</h4>
            <div class="price-sec">
                <span class="sign">$</span>{{currentHedge}}
                <span class="percent-tag">{{currentHedgePercent}}%</span>
            </div>
        </div>

        <div class="avg-hedge-item annual-item">
            <h4 class="item-title">AVG hedging rate<img src="images/annual-title-help-icon.svg" alt="help" [ngbTooltip]="avgHedge" placement="top-right" tooltipClass="risk-step3-tooltip--rm"></h4>
            <div class="price-sec">
                {{avgHedgeRate}}
            </div>
        </div>
    </div>
</div>
