<div class="sidebar-background" #sidebar>
  <div class="sidebar">
    <!-- Logo -->
    <div class="close-btn">
      <button class="men-close-btn" (click)="hideSidebar()">
        <img src="images/close-icon.svg" class="close-icn" alt="close">
      </button>
    </div>
    <div class="side-bar-wrapper">
      <div class="logo">
        <img src="images/okoora-logo.svg" class="main-logo" alt="Logo" />
        <img src="images/logo-abcm-small.svg" class="small-logo" alt="Logo" />
      </div>
      <div class="menu-list">
        <div class="first-divider"></div>
        <!-- Navigation -->
        <a class="menu-item"><i class="icon-dashboard"></i> <span class="menu-text">Dashboard</span></a>
        <a class="menu-item"><i class="icon-payments"></i> <span class="menu-text">Payments</span></a>
        <a class="menu-item"><i class="icon-funds"></i> <span class="menu-text">Received Funds</span></a>
        <a class="menu-item"><i class="icon-purchases"></i> <span class="menu-text">Purchases</span></a>
        <a class="menu-item active">
          <i class="icon-risk"></i> <span class="menu-text">Risk Manager</span> <span class="new-badge">New</span>
        </a>
        <div class="second-divider"></div>
        <mat-accordion id="navReports">
          <mat-expansion-panel class="shadow-none mb-3 reports-expansion-panel">
            <mat-expansion-panel-header id="navReportsExpansion" class="header-reports">
              <mat-panel-title class="panel-item">
                <i class="icon-reports"></i> <span class="menu-text">Reports</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description class="sub-tabs-reports">
              <a id="all-transactions-link">
                <p class="submenu-name">All transactions</p>
              </a>
              <a id="smartConvert-link">
                <p class="submenu-name">Period end balance</p>
              </a>
              <hr class="bottom-line">
            </mat-panel-description>
          </mat-expansion-panel>
        </mat-accordion>
        <a class="menu-item"><i class="icon-alerts"></i> <span class="menu-text">Alerts</span></a>
        <a class="menu-item"><i class="icon-contacts"></i> <span class="menu-text">Contacts</span></a>
        <a class="menu-item"><i class="icon-help"></i> <span class="menu-text">Help</span></a>
        <a class="menu-item marketplace">
          <i class="market-place"></i> <span class="menu-text">Marketplace</span>
        </a>
        <button id="downloadApp" class="download-app">
          Download App
        </button>
      </div>
    </div>
  </div>
</div>